.blueText{
    color:var(--skyblue);
    text-transform: capitalize;
}

@mixin content-width{
    max-width:90%;
    width:100%;
    margin:0 auto;

    @media screen and (min-width:1200px){
        max-width: 1100px
    }
}

@mixin button{
    padding:12px 24px;
    border:1px solid var(--white);
    background-color: var(--green);
    color:var(--white);
    text-transform: capitalize;
    border-radius: 8px;
    font-size: 13px;
    transition:.5s linear;

    &:hover,
    &:focus{
        border: 1px solid var(--skyblue);
        opacity:0.8;
    }

    @media screen and (min-width:992px){
        padding: 18px 30px;
        font-size: 16px;
    }
}