@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --skyblue: #43b9dc;
  --green: #34d3b4;
  --black: #222222;
  --white: #fff;
  --gradient: linear-gradient(#43b9dc, #34d3b4);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  color: var(--black);
}

li {
  list-style: none;
}

.blueText {
  color: var(--skyblue);
  text-transform: capitalize;
}

.header__top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding: 25px 0;
  z-index: 100;
}
.header__top--main {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .header__top--main {
    max-width: 1200px;
  }
}
.header__top--firstheading {
  font-weight: 300;
}
.header__top--brand {
  color: var(--black);
}
.header__top--buttons {
  display: flex;
  align-items: center;
  gap: 17px;
}
.header__top--burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  background-color: transparent;
}
.header__top--socialnetwork i {
  color: var(--skyblue);
  font-size: 20px;
  transition: 0.5s linear;
}
.header__top--socialnetwork:hover i, .header__top--socialnetwork:focus i {
  opacity: 0.6;
}
.header__top--bar {
  background-color: var(--skyblue);
  width: 20px;
  height: 2px;
  border-radius: 5px;
}
.header__nav {
  position: fixed;
  top: 80px;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--skyblue);
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.header__nav.show {
  right: 0;
}
.header__nav--menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 80%;
  max-width: 400px;
}
.header__nav--list {
  width: 100%;
}
.header__nav--link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--white);
  background-color: var(--white);
  color: var(--black);
  width: 100%;
  height: 45px;
  text-transform: capitalize;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s linear;
}
.header__nav--link:hover, .header__nav--link:focus {
  border: 1px solid var(--white);
  background-color: var(--skyblue);
  color: var(--white);
}
.header__home {
  background: rgb(17, 17, 17);
  background-image: url(../img/headerimage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% center;
  width: 100%;
  height: 500px;
  margin-top: 80px;
}
.header__home--main {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
@media screen and (min-width: 1200px) {
  .header__home--main {
    max-width: 1200px;
  }
}
.header__home--block {
  display: none;
}
.header__home--article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.header__home--secondheading {
  color: var(--skyblue);
  text-align: center;
  font-size: 24px;
  text-shadow: 1px 0 2px var(--white);
}
.header__home--cta {
  padding: 12px 24px;
  border: 1px solid var(--white);
  background-color: var(--green);
  color: var(--white);
  text-transform: capitalize;
  border-radius: 8px;
  font-size: 13px;
  transition: 0.5s linear;
}
.header__home--cta:hover, .header__home--cta:focus {
  border: 1px solid var(--skyblue);
  opacity: 0.8;
}
@media screen and (min-width: 992px) {
  .header__home--cta {
    padding: 18px 30px;
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .header__home {
    height: 700px;
    margin-top: 60px;
  }
  .header__home--main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "homeArticle homeBlock";
  }
  .header__home--main {
    grid-area: homeArticle;
  }
  .header__home--block {
    grid-area: homeBlock;
  }
  .header__home--secondheading {
    font-size: 42px;
  }
}
@media screen and (min-width: 992px) {
  .header__top--burger {
    display: none;
  }
  .header__nav {
    position: relative;
    top: initial;
    left: initial;
    width: auto;
    height: unset;
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding-top: 0;
  }
  .header__nav--menu {
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    width: auto;
    max-width: unset;
  }
  .header__nav--list {
    width: unset;
  }
  .header__nav--link {
    border: none;
    background-color: transparent;
    color: var(--skyblue);
    width: auto;
    height: unset;
    font-size: 16px;
    border-radius: none;
  }
  .header__nav--link:hover, .header__nav--link:focus {
    opacity: 0.6;
    background-color: transparent;
    border: none;
    color: var(--skyblue);
  }
}

.service {
  background-image: var(--gradient);
}
.service__main {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  color: var(--white);
}
@media screen and (min-width: 1200px) {
  .service__main {
    max-width: 1200px;
  }
}
.service__top {
  margin-bottom: 37px;
  text-align: center;
}
.service__top--secondheading {
  color: var(--white);
  font-size: 32px;
}
.service__middle {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "itemOne" "itemTwo" "itemThree" "itemFour";
  gap: 25px;
}
@media screen and (min-width: 768px) {
  .service__middle {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "itemOne itemTwo" "itemThree itemFour";
  }
}
@media screen and (min-width: 992px) {
  .service__middle {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "itemOne itemTwo itemThree itemFour";
  }
}
.service__middle--picture i {
  font-size: 28px;
}
.service__middle--middleheading {
  color: var(--white);
  font-size: 22px;
}
.service__middle--description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}
.service__middle--paragraph {
  line-height: 24px;
  font-size: 15px;
}
.service__middle--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 22px;
  border-radius: 5px;
  box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.15);
  transition: 0.5s linear;
}
.service__middle--item:hover, .service__middle--item:focus {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.55);
}
.service__middle--item:nth-child(1) {
  grid-area: itemOne;
}
.service__middle--item:nth-child(2) {
  grid-area: itemTwo;
}
.service__middle--item:nth-child(3) {
  grid-area: itemThree;
}
.service__middle--item:nth-child(4) {
  grid-area: itemFour;
}

.about {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "itemOne" "itemTwo";
  gap: 25px;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .about {
    max-width: 1200px;
  }
}
@media screen and (min-width: 768px) {
  .about {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "itemOne itemTwo";
  }
}
.about__work {
  grid-area: itemOne;
}
.about__work--top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.about__work--secondheading {
  font-size: 32px;
}
.about__work--paragraph {
  font-size: 12px;
  line-height: 20px;
}
.about__work--middle {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "itemOne" "itemTwo";
  gap: 25px;
}
@media screen and (min-width: 768px) {
  .about__work--middle {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "itemOne itemTwo";
  }
}
.about__work--item:first-child {
  grid-area: itemOne;
}
.about__work--item:last-child {
  grid-area: itemTwo;
}
.about__work--img {
  display: block;
  width: 100%;
}
.about__work--description {
  margin-top: 5px;
}
.about__creativity {
  grid-area: itemTwo;
}
.about__creativity--top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
.about__creativity--secondheading {
  font-size: 32px;
}
.about__creativity--paragraph {
  font-size: 12px;
  line-height: 20px;
}
.about__creativity--middle {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__creativity--button {
  background-color: var(--green);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: capitalize;
  border-radius: 12px;
  letter-spacing: 1px;
  align-self: flex-start;
}
.about__creativity--item {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 45px;
}

.gallery {
  background-color: rgba(52, 211, 179, 0.7058823529);
}
.gallery__main {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}
@media screen and (min-width: 1200px) {
  .gallery__main {
    max-width: 1200px;
  }
}
.gallery__top {
  margin-bottom: 37px;
  text-align: center;
}
.gallery__top--secondheading {
  color: var(--white);
  font-size: 32px;
}
.gallery__middle {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "itemOne" "itemTwo" "itemThree" "itemFour" "itemFive" "itemSix";
  gap: 25px;
}
.gallery__middle--img {
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__middle {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "itemOne itemTwo" "itemThree itemFour" "itemFive itemSix";
  }
}
@media screen and (min-width: 992px) {
  .gallery__middle {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "itemOne itemTwo itemThree" "itemFour itemFive itemSix";
  }
}
.gallery__middle--item:nth-child(1) {
  grid-area: itemOne;
}
.gallery__middle--item:nth-child(2) {
  grid-area: itemTwo;
}
.gallery__middle--item:nth-child(3) {
  grid-area: itemThree;
}
.gallery__middle--item:nth-child(4) {
  grid-area: itemFour;
}
.gallery__middle--item:nth-child(5) {
  grid-area: itemFive;
}
.gallery__middle--item:nth-child(6) {
  grid-area: itemSix;
}

.team__main {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  margin: 100px auto;
}
@media screen and (min-width: 1200px) {
  .team__main {
    max-width: 1200px;
  }
}
.team__top {
  margin-bottom: 37px;
  text-align: center;
}
.team__top--secondheading {
  font-size: 32px;
}
.team__middle {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "itemOne" "itemTwo" "itemThree" "itemFour";
  gap: 25px;
}
@media screen and (min-width: 768px) {
  .team__middle {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "itemOne itemTwo" "itemThree itemFour";
  }
}
@media screen and (min-width: 992px) {
  .team__middle {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "itemOne itemTwo itemThree itemFour";
  }
}
.team__middle--img {
  display: block;
  width: 240px;
  margin: 0 auto;
}
.team__middle--description {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.team__middle--paragraph {
  font-size: 12px;
}
.team__middle--socialnetwork {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.team__middle--sc i {
  font-size: 20px;
  color: var(--skyblue);
  transition: 0.5s linear;
}
.team__middle--sc:hover i, .team__middle--sc:focus i {
  filter: drop-shadow(1px 1px 2px var(--skyblue));
}
.team__middle--item:nth-child(1) {
  grid-area: itemOne;
}
.team__middle--item:nth-child(2) {
  grid-area: itemTwo;
}
.team__middle--item:nth-child(3) {
  grid-area: itemThree;
}
.team__middle--item:nth-child(4) {
  grid-area: itemFour;
}

.footer {
  padding: 60px 0;
}
.footer--bg {
  background-color: var(--black);
}
.footer__top {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "itemOne" "itemTwo" "itemThree";
  gap: 25px;
}
@media screen and (min-width: 1200px) {
  .footer__top {
    max-width: 1200px;
  }
}
@media screen and (min-width: 768px) {
  .footer__top {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "itemOne itemTwo itemThree";
  }
}
.footer__top--item:nth-child(1) {
  grid-area: itemOne;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__top--item:nth-child(2) {
  grid-area: itemTwo;
}
.footer__top--item:nth-child(3) {
  grid-area: itemThree;
}
.footer__top--brand {
  color: var(--white);
}
.footer__top--paragraph {
  color: var(--white);
  font-size: 15px;
  line-height: 25px;
}
.footer__top--socialnetwork {
  display: flex;
  gap: 15px;
}
.footer__top--sc i {
  color: var(--skyblue);
  font-size: 20px;
  transition: 0.5s linear;
}
.footer__top--sc:hover i, .footer__top--sc:focus i {
  filter: drop-shadow(1px 1px 2px var(--skyblue));
}
.footer__top--secondheading {
  font-size: 32px;
}
.footer__top--middleheading {
  color: var(--white);
  margin-bottom: 25px;
}
.footer__top--menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__top--link {
  color: var(--white);
  transition: 0.5s linear;
  text-transform: capitalize;
}
.footer__top--link:hover, .footer__top--link:focus {
  color: var(--skyblue);
}
.footer__top--form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--white);
  overflow: hidden;
  border-radius: 5px;
  max-width: 300px;
}
.footer__top--fbox {
  width: 60%;
  height: 39px;
}
.footer__top--fbox:last-child {
  width: 40%;
}
.footer__top--input {
  width: 100%;
  height: 100%;
  border: none;
  outline: 0;
  padding: 10px;
}
.footer__top--btn {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--skyblue);
  color: var(--white);
  font-size: 16px;
  text-transform: capitalize;
}
.footer__bottom {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--white);
  text-transform: capitalize;
}
@media screen and (min-width: 1200px) {
  .footer__bottom {
    max-width: 1200px;
  }
}
.footer__bottom--cta {
  color: var(--white);
  transition: 0.5s linear;
}
.footer__bottom--cta:focus, .footer__bottom--cta:hover {
  color: var(--skyblue);
}
@media screen and (min-width: 768px) {
  .footer__top--item:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */